<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo.todoapp" >

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>


    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <!--We set theme to DarkTheme because when the app opens it shows
    a white screen if our theme here is LightTheme. The screen is shown for
    about 1 second, but it's jarring if users have set Night Mode to true.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle.DarkTheme"
        >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".AddTodoActivity"
            android:label="Add"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            />

        <service android:name=".AlarmNotificationReceiver"
            />

    </application>


</manifest>
